@import "./global.scss";

.DatePicker {
  position: relative;

  > .TextField {
    width: 200px;
    margin-bottom: 0px;

    input {
      text-align: center;
    }
  }
}

.calendar {
  user-select: none;
  position: absolute;
  top: 33px;
  z-index: 10;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;

  transition: 0.2s all ease;
  opacity: 0;
  visibility: hidden;

  &.focused {
    opacity: 1;
    visibility: visible;
  }

  .monthSelect {
    align-items: center;
    margin-bottom: 0;
    background: white;
    font-size: 12px;
    color: rgb(170, 170, 170);
    padding-right: 16px;
    padding-left: 16px;
    height: 40px;

    span {
      margin-right: auto;
    }

    .Button {
      min-width: 25px;
      min-height: 25px;

      .material-icons {
        font-size: 16px;
      }

      &.disabled {
        background: transparent;
      }
    }
  }

  .CalendarMonthView {
    background: white;

    .headers, .days {
      margin-bottom: 0;
    }

    .header {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      margin: 5px;
    }

    .day {
      font-size: 10px;

      &.notSelectedMonth {
        color: #969696;
      }

      span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        margin: 5px;
        transition: 0.2s all ease;

        cursor: pointer;

        &:hover {
          background-color: #e6e6e6;
        }

        &.inactive {
          color: lightgray;
          cursor: unset;

          &:hover {
            background: unset;
          }
        }

        &.selected {
          color: white;
          background-color: $colorBlue;

          &:hover {
            background-color: lighten($colorBlue, 10%);
          }
        }
      }
    }
  }
}