.Modal {
  display: block;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  overflow-y: scroll;
  transition: bottom 0ms linear;
  transition-delay: 0.2s;

  &.show {
    transition-delay: 0s;
    bottom: 0;
  }

  > .overlay {
    position: fixed;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    transition: opacity .2s cubic-bezier(.4, 0, .2, 1);
    opacity: 0;
    background-color: black;
    pointer-events: none;

    &.show {
      opacity: 0.5;
      bottom: 0;
    }
  }

  > .content {
    left: 50%;

    //overflow: hidden;
    top: 10vh;
    margin-bottom: 10vh;

    font-size: 16px;
    padding: 0;
    opacity: 0;
    transition: opacity 0.25s ease, transform 0.25s ease;
    transform: scaleY(0) translateY(-200px) translateX(-50%);
    transform-origin: top;

    position: absolute;
    border-radius: 2px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);

    &.show {
      opacity: 1;
      transform: scaleY(1) translateY(0px) translateX(-50%);
    }

    > .Scrollable {
      overflow: visible;
      max-height: 80vh;
      > .viewport {
        min-width: 10px;
        min-height: 10px;
      }
    }

    > .Button.close {
      top: 10px;
      right: 10px;
      position: absolute;
    }
  }
}