.Scrollable {
  max-height: 250px;
  max-width: 250px;
  padding-right: 5px;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  overflow: hidden;

  &:hover > .scrollbar.auto {
    transition-delay: 0s;
    opacity: 1;
  }

  .viewport {
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 100%;

    //force hide scrollbar for mac-os
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.with-scroll {
  }

  &.without-scroll-horizontal {
    max-width: unset;
  }

  &.without-scroll {
    padding-right: 0;

    > .viewport {
      padding-right: 0;
      margin-right: 0;
    }

    > .scrollbar {
      visibility: hidden;
    }
  }

  .scrollbar {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 5px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.5s;
    z-index: 1;

    &.auto, &.hidden {
      opacity: 0;
    }

    .thumb {
      background-color: rgba(0, 0, 0, 0.3);
      width: 5px;
      position: absolute;
      right: 0px;
      top: 0px;
      user-select: none;
      will-change: top;
      border-radius: 2px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  .scrollbar.horizontal {
    left: 0px;
    right: 0px;
    height: 5px;
    bottom: 0;

    width: unset;
    top: unset;

    .thumb {
      height: 5px;
      left: 0px;
      bottom: 0px;
      will-change: left;
    }
  }
}