* {
  font-family: Roboto, sans-serif;
}

#root {
  min-height: 80vh;
  position: relative;
  overflow: hidden;

  .TextField {
    max-width: 300px;
  }

  .row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &.right {
      justify-content: flex-end;
    }
  }

  .column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  a {
    text-decoration: none;
  }

  .sb-show-main .FormUploadProgress {
    transition-delay: 0s !important;
    bottom: unset;
    right: unset;
  }

  .FloatingActionButton.fab-right-96 {
    right: 96px;
  }

  .AutocompleteSelect.menu {
    min-width: 0;

    .popup {
      left: 0;

      .DummyChild {
        font-size: 14px;
        color: #818181;
      }

      .material-icons {
        color: #818181;
        margin-right: 4px;
      }
    }

    &.active .popup {
      top: 33px;
    }

    > .selected {
      border: none;

      &.nolabel {
        border: none;
      }

      .material-icons {
        color: #A6A6A6;
        transition: color 0.2s ease;
      }

      .ItemWrapper {
        &.selected {
          padding-left: 15px;
          margin-left: -5px;
        }
      }
    }

    &.active .selected .material-icons {
      color: #333333;
    }
  }

  .AnimatedHolder .animated {
    transition: all 1s ease;
  }

  .FormUploadProgress {
    max-width: 300px;
    max-height: 200px;
  }

  .DNDExample {

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 20px;

    .Draggable {
      display: inline-block;

      .item {
        display: inline-block;
        background-color: #00bcd4;
        padding: 10px;
        border-radius: 4px;
        transition: transform 200ms ease;
      }

      &.dragged .item {
        transform: rotate(10deg);
      }
    }

    .Droppable {
      background-color: #4ac263;
      display: inline-block;
      border-radius: 4px;
      padding: 50px;
      position: absolute;
      left: 300px;
      top: 20px;

      &.second {
        top: 300px;
      }

      &.allow {
        background-color: #5bd073;
      }

      &.hover {
        background-color: #4CAF50;
      }
    }
  }

  .ImageGalleryHolder {
    > .images {
      display: flex;
      flex-flow: row wrap;

      a.image {
        margin: 10px;
      }
    }
  }
}

.sb-show-main {
  padding: 20px;
  position: relative;
}
