* {
  font-family: Roboto, sans-serif; }

#root {
  min-height: 80vh;
  position: relative;
  overflow: hidden; }
  #root .TextField {
    max-width: 300px; }
  #root .row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
    #root .row.right {
      justify-content: flex-end; }
  #root .column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start; }
  #root .line {
    min-height: 18px; }
  #root a {
    text-decoration: none;
    color: lightblue; }
  #root .sb-show-main .FormUploadProgress {
    -webkit-transition-delay: 0s !important;
            transition-delay: 0s !important;
    bottom: unset;
    right: unset; }
  #root .FloatingActionButton.fab-right-96 {
    right: 96px; }
  #root .AutocompleteSelect.menu {
    min-width: 0; }
    #root .AutocompleteSelect.menu .popup {
      left: 0; }
      #root .AutocompleteSelect.menu .popup .DummyChild {
        font-size: 14px;
        color: #818181; }
      #root .AutocompleteSelect.menu .popup .material-icons {
        color: #818181;
        margin-right: 4px; }
    #root .AutocompleteSelect.menu.active .popup {
      top: 33px; }
    #root .AutocompleteSelect.menu > .selected {
      border: none; }
      #root .AutocompleteSelect.menu > .selected.nolabel {
        border: none; }
      #root .AutocompleteSelect.menu > .selected .material-icons {
        color: #A6A6A6;
        -webkit-transition: color 0.2s ease;
        transition: color 0.2s ease; }
      #root .AutocompleteSelect.menu > .selected .ItemWrapper.selected {
        padding-left: 15px;
        margin-left: -5px; }
    #root .AutocompleteSelect.menu.active .selected .material-icons {
      color: #333333; }
  #root .AnimatedHolder .animated {
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
  #root .DNDExample {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 20px; }
    #root .DNDExample .Draggable {
      display: inline-block; }
      #root .DNDExample .Draggable .item {
        display: inline-block;
        background-color: #00bcd4;
        padding: 10px;
        border-radius: 4px;
        -webkit-transition: -webkit-transform 200ms ease;
        transition: -webkit-transform 200ms ease;
        transition: transform 200ms ease;
        transition: transform 200ms ease, -webkit-transform 200ms ease; }
      #root .DNDExample .Draggable.dragged .item {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg); }
    #root .DNDExample .Droppable {
      background-color: #4ac263;
      display: inline-block;
      border-radius: 4px;
      padding: 50px;
      position: absolute;
      left: 300px;
      top: 20px; }
      #root .DNDExample .Droppable.second {
        top: 300px; }
      #root .DNDExample .Droppable.allow {
        background-color: #5bd073; }
      #root .DNDExample .Droppable.hover {
        background-color: #4CAF50; }

.sb-show-main {
  padding: 20px;
  position: relative; }

.Button.FloatingActionButton {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 56px;
  height: 56px;
  padding: 16px;
  -webkit-transition: bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  .Button.FloatingActionButton.raised {
    -webkit-transition: bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s ease-out, background-color 0.2s ease-out, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s ease-out, background-color 0.2s ease-out, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1); }
  .Button.FloatingActionButton.mini {
    width: 40px;
    height: 40px;
    padding: 8px; }
  .Button.FloatingActionButton.hidden {
    bottom: -100px; }

.Button {
  position: relative;
  min-width: 64px;
  min-height: 36px;
  height: 24px;
  margin: 0px;
  padding: 0px 16px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  background: #dfdfdf;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .Button.green {
    background-color: #4AC263;
    color: white; }
  .Button.blue {
    background-color: #61a0b2;
    color: white; }
  .Button.red {
    background-color: #F44336;
    color: white; }
  .Button.black {
    background-color: #1e252d;
    color: white; }
  .Button.gray {
    background: #D9D9D9;
    color: #999999; }
  .Button.small {
    padding: 0px 8px;
    min-height: 16px;
    min-width: 16px; }
  .Button > .material-icons {
    margin-right: 10px; }
  .Button.round {
    padding: 0px;
    min-width: 36px;
    border-radius: 50%; }
    .Button.round > .material-icons {
      margin: 0px; }
  .Button .ripple {
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
    pointer-events: none;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out; }
  .Button .ripple.show {
    -webkit-animation: ripple .35s ease-out;
            animation: ripple .35s ease-out; }
  .Button:active .ripple.showed {
    opacity: 1; }
  .Button .ripple.showed {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0; }

@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(2);
            transform: scale(2); } }

@keyframes ripple {
  to {
    -webkit-transform: scale(2);
            transform: scale(2); } }
  .Button.raised {
    -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 0.2s ease-out, background-color 0.2s ease-out, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1); }
    .Button.raised:hover {
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25); }
    .Button.raised:active {
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35); }
  .Button.disabled {
    box-shadow: none;
    background: #D9D9D9;
    color: #999999; }
  .Button.flat {
    background-color: transparent; }
    .Button.flat:hover {
      background-color: rgba(0, 0, 0, 0.05); }
  .Button::-moz-focus-inner {
    border: 0; }

.Snackbar {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
  background-color: #323232;
  padding: 14px 24px 14px 24px;
  color: #fff;
  min-width: 288px;
  max-width: 568px;
  position: fixed;
  bottom: -50px;
  left: 50%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  -webkit-transition: bottom 0.25s ease;
  transition: bottom 0.25s ease;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .Snackbar.shown {
    bottom: 15px; }
  .Snackbar .message {
    overflow: hidden;
    line-height: 1.2em;
    min-height: 1.2em;
    max-height: 2.4em;
    flex: 1 1; }
  .Snackbar .action {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 48px;
    color: #bf3727; }
    .Snackbar .action a {
      text-decoration: none;
      color: #bf3727; }

.TextField {
  position: relative;
  width: 100%; }
  .TextField > label {
    font-family: Roboto, sans-serif;
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    position: absolute;
    left: 0px;
    top: 16px;
    margin-top: -16px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: text; }
  .TextField > input {
    font-family: Roboto, sans-serif;
    color: #1e252d;
    height: 19px;
    font-size: 16px;
    width: 100%;
    border: 0px;
    padding-bottom: 4px;
    padding-top: 0;
    outline-color: rgba(0, 0, 0, 0); }
    .TextField > input:focus {
      outline: none; }
    .TextField > input:disabled {
      color: gray;
      background-color: white; }
    .TextField > input:disabled + .border {
      height: 0px;
      border-bottom: 2px dotted #e0e0e0; }
    .TextField > input::-webkit-input-placeholder {
      font-family: Roboto, sans-serif;
      color: rgba(0, 0, 0, 0.3);
      opacity: 1; }
    .TextField > input::-moz-placeholder {
      font-family: Roboto, sans-serif;
      color: rgba(0, 0, 0, 0.3);
      opacity: 1; }
    .TextField > input:-ms-input-placeholder {
      font-family: Roboto, sans-serif;
      color: rgba(0, 0, 0, 0.3);
      opacity: 1; }
    .TextField > input::-ms-input-placeholder {
      font-family: Roboto, sans-serif;
      color: rgba(0, 0, 0, 0.3);
      opacity: 1; }
    .TextField > input::placeholder {
      font-family: Roboto, sans-serif;
      color: rgba(0, 0, 0, 0.3);
      opacity: 1; }
  .TextField > .border {
    border-bottom: 1px solid #e0e0e0;
    height: 1px;
    position: relative; }
    .TextField > .border .line {
      left: 50%;
      width: 0;
      height: 2px;
      min-height: 2px;
      background-color: #00bcd4;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      position: absolute; }
  .TextField > .error {
    text-align: left;
    font-size: 10px;
    color: #f44336;
    margin-top: 2px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .TextField.focused > label, .TextField.withValue > label {
    top: 4px;
    font-size: 12px;
    line-height: 14px; }
  .TextField.errored > .error {
    visibility: visible;
    opacity: 1; }
  .TextField.errored > .border {
    border-bottom-color: #f44336; }
  .TextField.errored > label {
    color: #f44336; }
  .TextField.focused > label {
    color: #00bcd4; }
  .TextField.focused > .border .line {
    left: 0;
    width: 100%; }
  .TextField.disabled label, .TextField.disabled input {
    cursor: not-allowed; }
  .TextField.withLabel {
    margin-top: 15px; }
  .TextField input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0; }
  .TextField input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white; }

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  20%, 60% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); }
  40%, 80% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px); } }

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  20%, 60% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); }
  40%, 80% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px); } }
  .TextField .shake {
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-name: shake;
            animation-name: shake; }

.Checkbox {
  position: relative;
  white-space: pre; }
  .Checkbox *, .Checkbox *:before, .Checkbox *:after {
    box-sizing: border-box; }
  .Checkbox label {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #1e252d;
    cursor: pointer; }
    .Checkbox label:before, .Checkbox label:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0; }
    .Checkbox label:before {
      width: 20px;
      height: 20px;
      background: #fff;
      border: 2px solid #252525;
      border-radius: 2px;
      cursor: pointer;
      -webkit-transition: background .3s;
      transition: background .3s; }
  .Checkbox input[type="checkbox"] {
    outline: 0;
    margin-right: 10px; }
    .Checkbox input[type="checkbox"]:checked + label:before {
      background: #4AC263;
      border: none; }
    .Checkbox input[type="checkbox"]:checked + label:after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: 5px;
      left: 4px;
      width: 12px;
      height: 6px;
      border: 2px solid #fff;
      border-top-style: none;
      border-right-style: none; }

.Switch {
  display: inline-flex;
  padding-top: 5px; }
  .Switch .switch-input {
    display: none; }
  .Switch .switch-label {
    position: relative;
    display: inline-flex;
    align-items: center;
    min-width: 38px;
    height: 24px;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin: 0;
    padding: 0;
    padding-left: 44px;
    box-sizing: border-box; }
    .Switch .switch-label:before, .Switch .switch-label:after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      margin: 0;
      outline: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .Switch .switch-label:before {
      left: 1px;
      width: 34px;
      height: 14px;
      background-color: #9E9E9E;
      border-radius: 8px; }
    .Switch .switch-label:after {
      left: 0;
      width: 20px;
      height: 20px;
      background-color: #FAFAFA;
      border-radius: 50%;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084); }
    .Switch .switch-label .toggle--on {
      display: none; }
    .Switch .switch-label .toggle--off {
      display: inline-block; }
    .Switch .switch-label .label {
      margin-right: 5px; }
  .Switch .switch-input:checked + .switch-label:before {
    background-color: #A5D6A7; }
  .Switch .switch-input:checked + .switch-label:after {
    background-color: #4CAF50;
    -webkit-transform: translate(80%, -50%);
            transform: translate(80%, -50%); }
  .Switch .switch-input:checked + .switch-label .toggle--on {
    display: inline-block; }
  .Switch .switch-input:checked + .switch-label .toggle--off {
    display: none; }

.DialogModal {
  overflow: hidden; }
  .DialogModal .content {
    top: 20vh; }

.Dialog {
  background-color: white;
  min-width: 460px;
  max-width: 40vw;
  padding: 15px; }
  .Dialog .title {
    margin-bottom: 15px;
    padding: 20px 50px 0px 30px;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: .0125em; }
  .Dialog .description {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: .03125em;
    margin-top: 20px;
    padding: 0 24px 24px; }
  .Dialog > div.row {
    margin-bottom: 15px; }
    .Dialog > div.row:last-child {
      margin-bottom: 0; }

.Modal {
  display: block;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  overflow-y: scroll;
  -webkit-transition: bottom 0ms linear;
  transition: bottom 0ms linear;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s; }
  .Modal.show {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    bottom: 0; }
  .Modal > .overlay {
    position: fixed;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    background-color: black; }
    .Modal > .overlay.show {
      opacity: 0.5;
      bottom: 0; }
  .Modal > .content {
    left: 50%;
    top: 10vh;
    margin-bottom: 10vh;
    z-index: 101;
    font-size: 16px;
    padding: 0;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
    transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
    transition: opacity 0.25s ease, transform 0.25s ease;
    transition: opacity 0.25s ease, transform 0.25s ease, -webkit-transform 0.25s ease;
    -webkit-transform: scaleY(0) translateY(-200px) translateX(-50%);
            transform: scaleY(0) translateY(-200px) translateX(-50%);
    -webkit-transform-origin: top;
            transform-origin: top;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); }
    .Modal > .content.show {
      opacity: 1;
      -webkit-transform: scaleY(1) translateY(0px) translateX(-50%);
              transform: scaleY(1) translateY(0px) translateX(-50%); }
    .Modal > .content > .Scrollable {
      overflow: visible;
      max-height: 80vh; }
      .Modal > .content > .Scrollable > .viewport {
        min-width: 10px;
        min-height: 10px; }
    .Modal > .content > .Button.close {
      top: 10px;
      right: 10px;
      position: absolute; }
  .Modal .ModalMenu {
    position: absolute;
    top: 10px;
    right: 50px; }
    .Modal .ModalMenu .material-icons {
      color: #818181; }
    .Modal .ModalMenu .Button.animated {
      position: absolute;
      -webkit-transition: opacity 150ms ease-in, right 200ms ease-in;
      transition: opacity 150ms ease-in, right 200ms ease-in;
      opacity: 0;
      right: 0;
      top: 0; }
      .Modal .ModalMenu .Button.animated.mounting, .Modal .ModalMenu .Button.animated.mounted {
        opacity: 1; }
      .Modal .ModalMenu .Button.animated.unmounting {
        -webkit-transition: opacity 100ms ease-out, right 200ms ease-out;
        transition: opacity 100ms ease-out, right 200ms ease-out; }
    .Modal .ModalMenu .Button.active {
      background: #EBEBEB; }
    .Modal .ModalMenu .separator {
      height: 24px;
      width: 1px;
      background-color: #D9D9D9;
      margin-left: 4px; }

.animated {
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  opacity: 0; }
  .animated.mounting, .animated.mounted {
    opacity: 1; }

.AutocompleteSelect {
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  min-width: 250px;
  min-height: 27px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(-90deg); }
  100% {
    -webkit-transform: translateX(0px); } }

@keyframes clockwise {
  0% {
    -webkit-transform: rotate(-90deg); }
  100% {
    -webkit-transform: translateX(0px); } }

@-webkit-keyframes anticlockwise {
  0% {
    -webkit-transform: rotate(90deg); }
  100% {
    -webkit-transform: translateX(0px); } }

@keyframes anticlockwise {
  0% {
    -webkit-transform: rotate(90deg); }
  100% {
    -webkit-transform: translateX(0px); } }
  .AutocompleteSelect > .input {
    width: 100%;
    position: relative; }
  .AutocompleteSelect .Scrollable {
    padding-right: 0;
    min-width: 100%; }
  .AutocompleteSelect .selected.full .DummyChild {
    padding-left: 35px;
    padding-right: 10px; }
  .AutocompleteSelect.inline-multiple > .label {
    top: -12px; }
  .AutocompleteSelect.inline-multiple > .selected {
    flex-flow: row wrap; }
  .AutocompleteSelect.multiple-mini-inline {
    height: 42px; }
    .AutocompleteSelect.multiple-mini-inline > .label {
      cursor: pointer;
      width: 100%;
      margin-left: -10px;
      padding: 10px;
      box-sizing: border-box;
      top: 0; }
      .AutocompleteSelect.multiple-mini-inline > .label.active {
        padding: 0 10px; }
    .AutocompleteSelect.multiple-mini-inline > .selected {
      width: 250px; }
    .AutocompleteSelect.multiple-mini-inline > .input {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      position: absolute;
      top: 38px;
      z-index: 2;
      background-color: white;
      min-width: 130%; }
      .AutocompleteSelect.multiple-mini-inline > .input .TextField {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        box-sizing: border-box; }
      .AutocompleteSelect.multiple-mini-inline > .input.hidden {
        opacity: 0;
        visibility: hidden; }
    .AutocompleteSelect.multiple-mini-inline .FilteredList .child:first-child {
      margin-top: 0; }
  .AutocompleteSelect .TextField {
    margin-top: 8px; }
  .AutocompleteSelect > .label {
    position: absolute;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    cursor: text;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .AutocompleteSelect > .label.active {
      font-size: 10px;
      top: 2px; }
      .AutocompleteSelect > .label.active .arrow {
        border-width: 4px 4px 0 4px;
        margin-bottom: 1px; }
    .AutocompleteSelect > .label .arrow {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
      display: inline-block;
      margin-left: 5px;
      margin-bottom: 2px;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
  .AutocompleteSelect > .selected {
    margin-top: 8px;
    display: flex;
    cursor: pointer; }
    .AutocompleteSelect > .selected > .reset {
      min-width: 36px;
      max-width: 36px;
      position: absolute;
      right: 0;
      top: 0;
      background-color: white; }
      .AutocompleteSelect > .selected > .reset .material-icons {
        margin: 0;
        color: #BFBFBF;
        font-size: 20px; }
    .AutocompleteSelect > .selected.nolabel {
      margin-top: 0px;
      border-bottom: 1px solid #e5e3e3; }
      .AutocompleteSelect > .selected.nolabel .DummyChild {
        display: inline-flex;
        align-items: center;
        flex-grow: 1;
        font-size: 16px;
        margin: 0px 10px;
        margin-bottom: 5px;
        height: 19px; }
      .AutocompleteSelect > .selected.nolabel .arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
        display: inline-block;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        margin: 0px 17px 3px 5px; }
    .AutocompleteSelect > .selected.inline {
      font-size: 14px;
      font-family: Roboto, sans-serif;
      color: #1e252d;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: flex;
      align-items: center; }
    .AutocompleteSelect > .selected.clickable {
      overflow: hidden;
      cursor: pointer;
      padding: 10px;
      margin-left: -10px;
      margin-right: -10px; }
    .AutocompleteSelect > .selected > .value {
      cursor: pointer;
      margin: 5px 10px 5px 0px;
      display: inline-flex;
      flex-flow: row wrap;
      height: 30px;
      align-items: center;
      background-color: #f0f0f0;
      border-radius: 30px;
      position: relative;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      color: #1e252d; }
      .AutocompleteSelect > .selected > .value .button {
        cursor: pointer;
        min-width: 30px;
        width: 30px;
        height: 30px;
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        background-color: deepskyblue;
        color: white;
        border-radius: 30px;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        -webkit-animation: anticlockwise 0.15s linear;
                animation: anticlockwise 0.15s linear; }
        .AutocompleteSelect > .selected > .value .button .material-icons {
          font-size: 22px; }
      .AutocompleteSelect > .selected > .value:hover .button {
        width: 30px;
        height: 30px;
        opacity: 1;
        -webkit-animation: clockwise 0.15s linear;
                animation: clockwise 0.15s linear;
        overflow: hidden;
        position: absolute; }

.FilteredList {
  max-height: 250px;
  position: relative; }
  .FilteredList.popup {
    padding: 0;
    visibility: hidden;
    position: absolute;
    background: white;
    z-index: 4;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    top: 20px;
    max-height: 0;
    opacity: 0;
    border-radius: 2px; }
    .FilteredList.popup.visible {
      top: 36px;
      opacity: 1;
      visibility: visible; }
  .FilteredList.inline {
    max-height: 225px;
    margin-top: 5px; }
  .FilteredList .child {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    white-space: nowrap;
    font-size: 14px;
    color: #222222;
    height: 30px;
    padding: 5px 10px;
    padding-right: 15px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    border-left: 5px solid #4AC263;
    padding-left: 15px;
    margin-left: -5px; }
    .FilteredList .child.hidden {
      height: 0 !important;
      padding: 0 !important; }
    .FilteredList .child.selected {
      background-color: #F0F0F0;
      padding-left: 10px;
      margin-left: 0px; }
    .FilteredList .child.active {
      background-color: #eeeeee; }
    .FilteredList .child:first-child {
      margin-top: 8px; }
    .FilteredList .child:last-child {
      margin-bottom: 8px; }

.Scrollable {
  max-height: 250px;
  padding-right: 5px;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  overflow: hidden; }
  .Scrollable:hover > .scrollbar.auto {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    opacity: 1; }
  .Scrollable .viewport {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%; }
    .Scrollable .viewport::-webkit-scrollbar {
      display: none; }
  .Scrollable.without-scroll {
    padding-right: 0; }
    .Scrollable.without-scroll > .viewport {
      overflow: inherit;
      padding-right: 0;
      margin-right: 0; }
    .Scrollable.without-scroll > .scrollbar {
      visibility: hidden; }
  .Scrollable .scrollbar {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 5px;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    z-index: 1; }
    .Scrollable .scrollbar.auto, .Scrollable .scrollbar.hidden {
      opacity: 0; }
    .Scrollable .scrollbar.visible, .Scrollable .scrollbar:active {
      -webkit-transition-delay: 0s;
              transition-delay: 0s;
      opacity: 1; }
    .Scrollable .scrollbar .thumb {
      background-color: rgba(0, 0, 0, 0.3);
      width: 5px;
      position: absolute;
      right: 0px;
      top: 0px;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      will-change: top;
      border-radius: 2px; }
      .Scrollable .scrollbar .thumb:hover {
        background-color: rgba(0, 0, 0, 0.5); }
      .Scrollable .scrollbar .thumb:active {
        background-color: rgba(0, 0, 0, 0.7); }

.CircleProgress {
  width: 48px;
  height: 48px; }
  .CircleProgress .line {
    stroke-width: 2px;
    stroke: black;
    stroke-linecap: square;
    fill: none;
    -webkit-transition: stroke-dashoffset 0.2s ease;
    transition: stroke-dashoffset 0.2s ease; }

.SpinningProgress {
  width: 48px;
  height: 48px;
  position: relative;
  margin: 0 auto; }
  .SpinningProgress:before {
    content: '';
    display: block;
    padding-top: 100%; }
  .SpinningProgress .circular {
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .SpinningProgress .line {
    stroke: black;
    stroke-width: 2px;
    stroke-dasharray: 1, 96;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
            animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 96;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 43, 96;
    stroke-dashoffset: -17px; }
  100% {
    stroke-dasharray: 43, 96;
    stroke-dashoffset: -53px; } }

@keyframes dash {
  0% {
    stroke-dasharray: 1, 96;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 43, 96;
    stroke-dashoffset: -17px; }
  100% {
    stroke-dasharray: 43, 96;
    stroke-dashoffset: -53px; } }

.FormUploadProgress {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2; }
  .FormUploadProgress.animated.mounting, .FormUploadProgress.animated.mounted {
    -webkit-transition-delay: 500ms;
            transition-delay: 500ms; }
  .FormUploadProgress .wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 40%;
    margin-top: 40%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    .FormUploadProgress .wrapper .CircleProgress, .FormUploadProgress .wrapper .SpinningProgress {
      position: absolute;
      width: 107px;
      height: 107px;
      top: 0;
      left: 0; }
      .FormUploadProgress .wrapper .CircleProgress .line, .FormUploadProgress .wrapper .SpinningProgress .line {
        stroke: #2196F3; }
    .FormUploadProgress .wrapper > .progress {
      width: 107px;
      height: 107px;
      min-height: 107px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      background: white;
      position: relative; }
      .FormUploadProgress .wrapper > .progress > .value {
        display: inline-block;
        margin-top: 5px;
        font-weight: bold;
        line-height: 16px;
        font-size: 13px;
        text-align: center;
        color: #818181; }
    .FormUploadProgress .wrapper .cancel {
      min-width: 107px;
      margin-top: 20px;
      background-color: white;
      color: #F96B5C;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); }

.DNDContainer {
  position: relative; }
  .DNDContainer .Draggable[draggable=true], .DNDContainer .Draggable [draggable=true] {
    cursor: pointer; }
  .DNDContainer .Draggable.placeholder {
    opacity: 0.2; }
  .DNDContainer .Draggable.copy {
    position: absolute;
    box-sizing: border-box;
    will-change: transform;
    opacity: 0; }
  .DNDContainer .Draggable.dragged {
    z-index: 10; }
  .DNDContainer .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; }


/*# sourceMappingURL=main.css.map*/